### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import pandas as pd
import numpy as ny

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [46]:
player_count = purchase_data["SN"].unique()
total_players = len(player_count)
total_players

576

In [47]:
total_player_df = pd.DataFrame({"Total Players": [total_players]})
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
item_count = purchase_data['Item Name'].unique()
unique_item_total = len(item_count)


price_avg = purchase_data['Price'].mean()

price_total = purchase_data['Price'].sum()

total_purchase = purchase_data['Purchase ID'].count()

In [49]:
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': [unique_item_total],
                                      "Average Price": [price_avg],
                                      "Number of Purchases": [total_purchase],
                                      "Total Revenue": [price_total]})

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].astype('float').map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype('float').map("${:.2f}".format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [50]:
# gender_count = purchase_data["Gender"].value_counts()
# gender_count.head()

In [51]:
#create variables to hold gender data to create new df
gender_grouped = purchase_data.groupby(["Gender"])
gender_count = gender_grouped["SN"].nunique()
player_percent = (gender_count/total_players)*100

In [52]:
#Create df with columns containing our gender information
gender_total_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": player_percent})

#format the Percentage column correctly
gender_total_df["Percentage of Players"] = gender_total_df["Percentage of Players"].map("{:.2f}%".format)

#sort the data isn decending order
gender_df = gender_total_df.sort_values("Total Count", ascending=False)

gender_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [53]:
#remove the index name to clean up df
gender_df.index.name = None

In [54]:
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
# create variables to hold the price informaton
#Count purchases by gender
purchase_count = gender_grouped["Purchase ID"].count()

#Average purchase by gender
avg_purchase_price = gender_grouped["Price"].mean()

#Total purchases by gender
avg_purchase_total = gender_grouped["Price"].sum()

#purchase average per person by gender
avg_per_person = avg_purchase_total/gender_count

#create df ith new info
purchase_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count,
                                         "Average Purchase Price": avg_purchase_price,
                                         "Total Purchase Price": avg_purchase_total,
                                         "Avg Total Purchase per Person": avg_per_person})

#remove index title
purchase_analysis_gender.index.name = None

#Format the correct collums to show  
purchase_analysis_gender.style.format({"Total Purchase Price":"${:,.2f}",
                                       "Average Purchase Price":"${:,.2f}",
                                       "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [56]:
#establish bin to hold age
age_bin = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_title = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [57]:
# Sort age vaules into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bin, labels=group_title)
purchase_data

# group by "Age Group"
age_group = purchase_data.groupby("Age Group")

# count total number of eache age group
total_ages = age_group["SN"].nunique()

# get percentage of age groups
percent_by_age = (total_ages/total_players) * 100

#Create a summary data frame to hold the results
age_demographics_df = pd.DataFrame({"Total Count": total_ages, "Percentage of Players": percent_by_age})

# round the percentage column to two decimal points
age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].map("${:.2f}".format)

# drop index name
age_demographics_df.index.name = None

age_demographics_df

       Total Count Percentage of Players
<10             17                 $2.95
10-14           22                 $3.82
15-19          107                $18.58
20-24          258                $44.79
25-29           77                $13.37
30-34           52                 $9.03
35-39           31                 $5.38
40+             12                 $2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
#create variables to hold the price informaton
#Count purchases by age
age_purchase_count = age_group["Purchase ID"].count()

#Average purchase by age
age_avg_purchase_price = age_group["Price"].mean()

#Total purchases by age
age_avg_purchase_total = age_group["Price"].sum()

#purchase average per person by age
age_avg_per_person = age_avg_purchase_total/total_ages

#create df ith new info
purchase_analysis_age = pd.DataFrame({"Purchase Count": age_purchase_count,
                                         "Average Purchase Price": age_avg_purchase_price,
                                         "Total Purchase Value": age_avg_purchase_total,
                                         "Avg Total Purchase per Person": age_avg_per_person})

#remove index title
purchase_analysis_age.index.name = None

#Format the correct collums to show  
purchase_analysis_age.style.format({"Total Purchase Value":"${:,.2f}",
                                       "Average Purchase Price":"${:,.2f}",
                                       "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
#group by screen name

sn_group = purchase_data.groupby("SN")

#Count purchases by age
purchase_count_sn = sn_group["Purchase ID"].count()

#Average purchase by age
avg_purchase_price_sn = sn_group["Price"].mean()

#Total purchases by age
total_purchase_sn = sn_group["Price"].sum()

#create df ith new info
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_sn,
                                "Average Purchase Price": avg_purchase_price_sn,
                                "Total Purchase Value": total_purchase_sn,
                                })

#sort data to show top 5 spenders
sorted_top_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

#Format the correct collums to show  
sorted_top_spenders_df.style.format({"Total Purchase Value":"${:,.2f}",
                                    "Average Purchase Price":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
# pull columns with necessary info related to items
item_df = purchase_data[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name
item_group = item_df.groupby(["Item ID", "Item Name"])

# calculate purchase count
item_purchase_count = item_group['Price'].count()

# calculate total purchase value
item_purchase_value = item_group['Price'].sum()

# calculate average item price
item_avg_price = item_purchase_value/item_purchase_count

#Create df for new calculations
popular_items = pd.DataFrame({'Purchase Count': item_purchase_count,
                              'Item Price': item_avg_price,
                              'Total Purchase Value': item_purchase_value})

#Sort items to show top 5 items
popular_items_sorted = popular_items.sort_values(['Purchase Count'], ascending=False).head()

#clean up formatting
popular_items_sorted.style.format({"Item Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [61]:
#Sort items to show top 5 items
popular_items_sorted = popular_items.sort_values(['Total Purchase Value'], ascending=False).head()

#clean up formatting
popular_items_sorted.style.format({"Item Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}"})